{
  "processors": ["stylelint-processor-html"],
  "extends": "stylelint-config-recommended-scss",
  "plugins": ["stylelint-scss"],
  "rules": {
    "color-hex-case": null,
    "color-hex-length": null,
    "selector-list-comma-newline-after": null,
    "shorthand-property-no-redundant-values": null,
    "length-zero-no-unit": null,
    "no-empty-source": null
  }
}
